@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: "Quicksand";
  color: black;
  
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffBBC1;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    
}

.mainframe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 100;
  width: auto;

  word-wrap: break-word;
  overflow-wrap: break-word;
  
}

.App {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    min-height:95vh;
    background-size: cover;
    width: 100%;
    
    
}

/* .img {
  height: 50%;
  width: auto;
} */

.buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}

.Yes, .No {
  margin: 10px;
  font-size: 20px;
  padding:10px;
  text-align: center;
  color: black;
  background-color: #ffc5e6;
  font-weight: 600;
  border-radius: 15px;
}
.copyright {
  font-weight: 600;
}

h1 {
  text-align: center;


}

.clock {
  margin: 10px;
  padding: 15px;
  font-weight: 600;
  border: solid;
  border-radius: 10px;
  background-color: #ffc5e6;
}
